In [89]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
titanic_df = pd.read_excel('titanic3.xlsx')
wine_df =pd.read_csv('wine.csv')
brain_csv =pd.read_csv('brain_size.csv',sep =';')
from sklearn import preprocessing as pp
titanic_df['fare'].head()

0    211.3375
1    151.5500
2    151.5500
3    151.5500
4    151.5500
Name: fare, dtype: float64

In [90]:
data_scalar = pp.MinMaxScaler(feature_range=(0,1))
fare_away = titanic_df[['fare']]
print(fare_away)
fare_away_scaled = data_scalar.fit_transform(fare_away)
titanic_df['fare_away_scaled']=fare_away_scaled
titanic_df
titanic_df.info()

          fare
0     211.3375
1     151.5500
2     151.5500
3     151.5500
4     151.5500
...        ...
1304   14.4542
1305   14.4542
1306    7.2250
1307    7.2250
1308    7.8750

[1309 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pclass            1309 non-null   int64
 1   survived          1309 non-null   int64
 2   name              1309 non-null   object
 3   sex               1309 non-null   object
 4   age               1046 non-null   float64
 5   sibsp             1309 non-null   int64
 6   parch             1309 non-null   int64
 7   ticket            1309 non-null   object
 8   fare              1308 non-null   float64
 9   cabin             295 non-null    object
 10  embarked          1307 non-null   object
 11  boat              486 non-null    object
 12  body              121 non-null    float64
 13  home.dest         745 non-null    object
 14  fare_away_scaled  1308 non-null   float64
dtypes: float64(4), int64(4), object(7)
memory usage: 153.5+ KB

In [91]:
col_to_drop=['body','boat','cabin','name']
titanic_df=titanic_df.drop(col_to_drop,axis=1)
titanic_df.info()
titanic_df['age']=titanic_df['age'].interpolate()
titanic_df.info()
titanic_df=titanic_df.dropna()
titanic_df
brain_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pclass            1309 non-null   int64
 1   survived          1309 non-null   int64
 2   sex               1309 non-null   object
 3   age               1046 non-null   float64
 4   sibsp             1309 non-null   int64
 5   parch             1309 non-null   int64
 6   ticket            1309 non-null   object
 7   fare              1308 non-null   float64
 8   embarked          1307 non-null   object
 9   home.dest         745 non-null    object
 10  fare_away_scaled  1308 non-null   float64
dtypes: float64(3), int64(4), object(4)
memory usage: 112.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pclass            1309 non-null   int64
 1   survived          1309 non-null   int64
 2   sex               1309 non-null   object
 3   age               1309 non-null   float64
 4   sibsp             1309 non-null   int64
 5   parch             1309 non-null   int64
 6   ticket            1309 non-null   object
 7   fare              1308 non-null   float64
 8   embarked          1307 non-null   object
 9   home.dest         745 non-null    object
 10  fare_away_scaled  1308 non-null   float64
dtypes: float64(3), int64(4), object(4)
memory usage: 112.6+ KB

'brain_size.csv'

In [94]:
normalizer = pp.Normalizer(norm ='||')
fsiq_array = brain_df[['fsiq']]
fsiq_array = brain

TypeError: string indices must be integers, not 'list'